@charset "UTF-8";
body{
  background-color: #d6fde9;
  font-family: Arial, Helvetica, sans-serif;
}
h1{
  color: #1e402f;
  
}
h2{
  color: #3c805e;
}
#principal{
  text-align: center;
  background-color: #3c805e;
  padding: 1em;
  border-radius: 15px;
  color: white;
}

.basico{
  color:#3c805e;
}
.intermediario{
  color:#80793c;
}
.avancado{
  color:#803c3c;
} 

.destaque{
  background-color: #98904d79;
  padding: 1em;
  border-radius: 15px;
  text-align: center;
}

main{
 background-color: white; 
 padding: 20px;
 margin: 2em;
 border-radius: 20px;
}