@charset "UTF-8";

* {
  font-family: Arial, Helvetica, sans-serif;
}
p {
  text-align: justify;
}
body{
  background-image: linear-gradient(to right, #f1D8C9, #f2c3a7);
}

main{
  background-color: white;
  width: 600px;
  padding: 10px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 2px 5px 15px rgba(136, 109, 93, 0.616);
}

h1{
  color: #F39209;
  text-align: center;
  text-shadow: 1px 1px 2px #c0740ab7;
}

h2{
 color: rgb(9, 90, 0);
}